﻿@model MovieWarehouse.Models.Movie

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar está película?</h3>
<fieldset>
    <legend>Película</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Género</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.genre)
    </div>

    <div class="display-label">Año de Estreno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.premiereYear)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Volver atrás", "Index")
    </p>
}
