﻿@model MovieWarehouse.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Película</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Género</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.genre)
    </div>

    <div class="display-label">Año de Estreno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.premiereYear)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Volver atrás", "Index")
</p>
