﻿@model MovieWarehouse.Models.Movie

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Película</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.name, "Nombre")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.genre, "Género")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.genre)
            @Html.ValidationMessageFor(model => model.genre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.premiereYear, "Año de Estreno")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.premiereYear)
            @Html.ValidationMessageFor(model => model.premiereYear)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver atrás", "Index")
</div>
